body{
  background-color: #fae1ee;
  font-family: verdana;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
}

img{
  padding-top: 15px;
  height: 270px;
}

nav{
  background-color: #1a1919;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  font: verdana;
  font-size: 30px;
}
b{
  text-align: left;
  padding-right:530px;
  color:white;
}
a{
  padding-left: 20px;
  padding-right:10px;
  padding-top: 10px;
  text-decoration: none;
  color:white;
  font-family: verdana;
}
.topbar{
  text-align:right;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
