@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body{
  background:#4d4d4d;
}

h1 {
  font-size:120px;
  color:#4d4d4d;
  text-shadow: 0 0 10px white;
  font-style: arial;
	text-align: center;
	padding-top:280px;
}

.header{
  border-top: 2px solid black;
  border-bottom:2px solid black;
  font-family: arial;
  font-size: 30px;
  text-align: center;
}

.toggle{
  display: none;
  text-align: center;
  font-family: arial;
  font-size: 20px;
  color:white;
  text-shadow: 0 0 3px black;
}

.animation_demo {
    overflow: hidden;
}
.animation_demo .wrapper {
    position: center;
    width: 50%;
    height: 0;
    overflow: hidden;
}
.animation_demo .wrapper div {
    margin-top: -17%;
    height: 34%;
    width: 2%;
    top: 30%;
    border-radius: 20px;
    position: absolute;
}
.animation_demo .wrapper div:nth-of-type(1) {
    animation: prop 17s 0.000s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(2) {
    animation: prop 17s -16.227s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(3) {
    animation: prop 17s -15.455s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(4) {
    animation: prop 17s -14.682s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(5) {
    animation: prop 17s -13.909s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(6) {
    animation: prop 17s -13.136s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(7) {
    animation: prop 17s -12.364s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(8) {
    animation: prop 17s -11.591s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(9) {
    animation: prop 17s -10.818s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(10) {
    animation: prop 17s -10.045s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(11) {
    animation: prop 17s -9.273s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(12) {
    animation: prop 17s -8.500s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(13) {
    animation: prop 17s -7.727s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(14) {
    animation: prop 17s -6.955s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(15) {
    animation: prop 17s -6.182s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(16) {
    animation: prop 17s -5.409s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(17) {
    animation: prop 17s -4.636s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(18) {
    animation: prop 17s -3.864s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(19) {
    animation: prop 17s -3.091s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(20) {
    animation: prop 17s -2.318s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(21) {
    animation: prop 17s -1.545s linear infinite;
}
.animation_demo .wrapper div:nth-of-type(22) {
    animation: prop 17s -0.773s linear infinite;
}
@keyframes prop {
    0% {
        left: -2%;
        background: #3B44D1;
    }
    5% {
        background: #9337FE;
    }
    10% {
        height: 10%;
        margin-top: -5%;
        background: #C532FC;
    }
    15% {
        background: #F639F8;
    }
    20% {
        height: 34%;
        margin-top: -17%;
        background: #F236C8;
    }
    25% {
        background: #FF2F8D;
    }
    30% {
        height: 10%;
        margin-top: -5%;
        background: #EE3860;
    }
    35% {
        background: #DC5245;
    }
    40% {
        height: 34%;
        margin-top: -17%;
        background: #F38643;
    }
    45% {
        background: #F8B435;
    }
    50% {
        height: 10%;
        margin-top: -5%;
        background: #FAF444;
    }
    55% {
        background: #E0FF3B;
    }
    60% {
        height: 34%;
        margin-top: -17%;
        background: #E1FF3C;
    }
    65% {
        background: #46F443;
    }
    70% {
        height: 10%;
        margin-top: -5%;
        background: #54E67B;
    }
    75% {
        background: #4DF3A9;
    }
    80% {
        height: 34%;
        margin-top: -17%;
        background: #3AF9DA;
    }
    85% {
        background: #36EBF4;
    }
    90% {
        height: 10%;
        margin-top: -5%;
        background: #3DB3F3;
    }
    95% {
        background: #3C82F1;
    }
    100% {
        height: 34%;
        margin-top: -17%;
        left: 100%;
        background: #5B38EE;
    }
}

/* CONTAINER */

.container{
	display: flex;
	flex-wrap:wrap;
}

.w1of5{
	width:14%;
}

.w1{
  width:20%;
}

.w1of15{
  width:5%;
}

.w1of3{
  width:30%;
}


.masthead0{
	justify-content:space-around;
	align-items:center;
	padding-left: 100px;
	padding-right: 100px;
}

.masthead1{
	justify-content:space-around;
	align-items:center;
	padding-left: 100px;
	padding-right: 100px;
}

.masthead2{
	justify-content:space-around;
	align-items:center;
	padding-left: 100px;
	padding-right: 100px;
}

.masthead3{
	justify-content:space-around;
	align-items:center;
	padding-left: 100px;
	padding-right: 100px;
}

.masthead4{
	justify-content:space-around;
	align-items:center;
	padding-left: 100px;
	padding-right: 100px;
}

/* SLIDERS */

.slider {
  -webkit-appearance: none;
  order-radius: 25px;
  width: 100%;
  height: 40px;
  background: #4d4d4d;
  box-shadow: 2px 2px 10px black;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 70px;
  border-radius: 5px;
  box-shadow: 3px 1px 5px #00e5ff;
  background: #9e9d9d;
  cursor: pointer;
}

/* End SLIDERS */


/* corner wave */

.wave span{
  display: block;
  position: sticky;
  bottom: 0;
  width: 20px;
  height: 50px;
  background: #00c70d;
  animation: wave 1.5s infinite ease-in-out;
}

.wave span:nth-child(2){
  left:11px;
  animation-delay: .2s;
}

.wave span:nth-child(3){
  left:22px;
  animation-delay: .4s;
}

.wave span:nth-child(4){
  left:33px;
  animation-delay: .6s;
}
.wave span:nth-child(5){
  left:44px;
  animation-delay: .8s;
}

@keyframes wave {
  0%{height: 5px; transform:translateY(0);background:#e80c00}
  25%{height: 30px; transform:translateY(15px);background:#00c70d}
  50%{height: 5px; transform:translateY(0);background:#e80c00 }
  100%{height: 5px; transform:translateY(0);background:#e80c00 }
}

/* BUTTON (GLOW) */

.button{
  text-align: center;
  font-size: 50px;
  padding:10px 20px;
  background: #4d4d4d;
  border: 2px solid #00eaff;
  box-shadow: 0 0 10px #00eaff;
  border-radius: 15px;
  transition: 0.2s all ease-in-out;
}
.playing{
background-color: #00eaff;
border: red;
}

.button:hover{
  background-color: #00eaff;
  border: none;
  box-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 30px #00eaff;
}




/* END BUTTON */
